@model CasusStartToBike.Models.Badge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Badge</h4>
    <hr />
    <dl class="dl-horizontal">
        <p>
            Deze functionaliteit is nog niet geïmplementeerd.
        </p>
        @Html.ActionLink("Terug naar de lijst", "Index", null, new { @class = "btn btn-light" })
    </dl>
</div>

